<!-- Footer -->
<footer id="footer" class="clearfix bg-footer2 pd-t re-hi">
  <div class="themesflat-container">
    <div class="row footer-main" style="justify-content: space-evenly">
      <div class="col-lg-3 col-md-6 col-12">
        <div class="widget widget-info">
          <img
            src="../media/logo/logo.png"
            alt="Logo Footer"
            style="width: 256px"
          />
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="widget widget-menu">
          <p>
            <span style="color: red">Electric cars </span>are a clean and
            efficient alternative to traditional vehicles, reducing carbon
            emissions and reliance on fossil fuels.
          </p>
          <p>
            They offer a smoother, quieter ride while embracing innovative
            technology for a
            <span style="color: yellow">sustainable future. </span>
          </p>
          <ul>
            <li>
              <i class="icon-Vector1" style="color: red"></i>
              <p>Usmanpura, Ahmedabad</p>
            </li>
            <li>
              <i class="icon-Group-1" style="color: red"></i>
              <p>Rentvehicle@gmail.com</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="widget widget-menu pl-30">
          <h3 style="color: red">Pages</h3>
          <ul class="box-menu">
            <li><a href="/car_list_page">Check Available Cars</a></li>
            <li><a href="/contact_page"> Contact Us </a></li>
            <li><a href="/cargallery"> Check the Gallery </a></li>
            <li><a href="/my-bookings"> My Bookings </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row footer-bottom">
      <div class="col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4"></div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
        <ul class="social-icon">
          <li>
            <a href="#"><i class="icon-6"></i></a>
          </li>
          <li>
            <a href="#"><i class="icon-4"></i></a>
          </li>
          <li>
            <a href="#"><i class="icon-7"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <img src="static/images/page/ft-left.png" alt="left" class="shape-left" />
  <img src="static/images/page/ft-right.png" alt="right" class="shape-right" />
</footer>

<!-- /#footer -->
